body {
  font-family: system-ui;
  background: #89CFF0;
  color: blue;
  text-align: left;
}

nav {
  list-style-type: none;
  position: fixed;
  background-color: white;
  width: 100vw;
  top: 0;
  left: 0;
}

li {
  display: inline;
  padding: 8px;
}
